@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* iosevka-latin-400-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format('woff');
}

@theme {
  --font-display: "IBM Plex Sans", sans-serif;
  --font-body: "Cambria", serif;
  --font-mono: "Iosevka";

  --color-background: var(--background);
  --color-body: var(--body);
  --color-link: var(--link);

}

:root {
  --background: rgb(255, 255, 255);
  --body: rgb(32, 29, 29);
  --link: #454545;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(13, 13, 13);
    --body: rgb(222, 211, 211);
    --link: #4681d7;
  }
}

div.sourceCode {
  @apply rounded-lg p-2 !my-6 text-sm;
}

.article-body > * {
  @apply mb-4;
}

.article-body a {
  @apply text-link underline;
}

.article-body ul {
  @apply list-disc list-inside;
}
