<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - Okienko (Hubert Małkowski)</title>
        <link rel="stylesheet" href="/css/tailwindcss.css" />


        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/syntax.css" />
        <meta name="google-site-verification" content="-KzR7Pzbd8TMvfHWTFWzjO0jd3_K_E37B6Ec__5O764" />
        <meta name="fediverse:creator" content="@hubert@functional.cafe">
        <!-- Opengraph-->
        $if(opengraph)$$opengraph$$endif$

        <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"/>
</head>
<body class="bg-background text-body pb-8">
    <div class="md:w-fit m-auto flex flex-col md:flex-row pt-4 max-md:px-4">


        <header class="px-4 flex font-display max-md:mb-8 flex md:flex-col max-md:justify-between md:h-fit max-md:w-full md:sticky md:top-4">
            <div class="logo flex flex-col md:items-end">
                <a class="text-4xl" href="/">Okienko</a>
                <span class="font-body text-body/90">/ɔˈkjɛŋ.kɔ/</span>

            </div>

            <nav class="pt-4 text-right">
                <ul class="max-md:flex max-md:gap-2 ">
                    <li>
                        <a href="/" $active("/index.html")$>Home</a>
                    </li>
                    <li>

                        <a href="/blog.html" $active("/blog.html")$>Blog</a>
                    </li>
                    <!-- <li> -->
                    <!---->
                    <!--     <a href="/contact.html">Contact</a> -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <!---->
                    <!--     <a href="/about.html" $active("/about.html")$>About</a> -->
                    <!-- </li> -->
                </ul>
            </nav>
        </header>


        <main role="main" class="lg:w-208 max-w-full w-full px-4 md:pl-4 font-body md:pr-8">
            <h1 class="text-5xl mb-4 text-balanced">$title$</h1>
            $body$
        </main>

    </div>
</body>
</html>
